@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}
.container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .card {
  width: 280px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(165, 159, 159);
  text-align: center;
  padding: 15px;
}
.container .card .icondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .card .icondiv .icon {
  height: 60px;
  width: 60px;
  border-radius: 60%;
  color: red;
  border: 1px solid red;
  line-height: 60px;
  font-size: 30px;
}
.container .card h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 28px;
  margin: 10px;
}
.container .card p {
  color: grey;
  text-transform: capitalize;
  font-size: 17px;
}
.container .card .button button {
  background-color: rgb(0, 151, 246);
  border: none;
  outline: none;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 18px;
}
.container .card .button {
  width: 100%;
  padding-top: 30px;
}
